@import url(https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css);

body {
  font-family: "AppleSDGothicNeoSB";
  padding: 0 10% 0 10%;
}
@font-face {
  font-family: "AppleSDGothicNeoSB";
  src: url("assets/fonts/AppleSDGothicNeoSB.ttf");
}

#title {
  text-align: center;

  margin-left: 0;
  margin-right: 0;
  margin: 5rem;
  animation-name: slideDown;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.whole-window {
  width: 70%;
  height: 70%;
}

.inline-container > img {
  margin: 1rem;
  display: inline-block;
}

br {
  height: 1rem;
}
